
body{
    margin: 0;
}

.body-container {
  background-color: black;
  color: white;
  padding: 1px 95px 95px 95px;
  text-align: left;
}

.main-heading {
  position: sticky;
  top: 0;
}

.title {
  font-size: 48px;
  font-weight: bold;
}

.highlight {
  color: #0099ff;
}

.description {
  width: 35%;
  color: rgba(255, 255, 255, 0.696);
  font-size: 1rem;
  margin-bottom: 20px;
}

.case-study {
  color: #fff;
  text-decoration: underline;
  font-weight: bold;
}

.content {
  padding:  0% 10% 10% 10%;
}

.project-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 60vh;
  scrollbar-width: none;
}

.project {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 500px;
}

.tags {
  margin-bottom: 10px;
}

.tag {
  background: #111;
  border: 1px solid #0099ff;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  margin-right: 5px;
  font-size: 0.9rem;
  margin-bottom: 8px;
}

.project-image {
  height: 60vh;
  left: 5%;
  width: 44%;
  top: 200px;
  position: fixed;
  mix-blend-mode: multiply;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: clip-path 0.2s ease-out;
}

.section.active .section-img-inner {
  opacity: 1;
  background-position: 50% 50%;
  transform: translateY(0);
}

.project-details {
  max-width: 500px;
}

.project-title {
  font-size: 36px;
}

.project-description {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.696);
}

.section-img {
  position: relative;
  display: flex;
}

.section {
  display: flex;
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

.section > * {
  width: 50%;
}

@media (max-width: 1024px) {
  .body-container {
    padding: 1px 50px 50px 50px;
  }

  .content {
    padding: 0% 5% 5% 5%;
  }

  .project-image {
    width: 50%;
    left: 2%;
  }

  .project-details {
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .body-container {
    padding: 1px 20px 20px 20px;
  }

  .content {
    padding: 0% 2% 2% 2%;
  }

  .project-image {
    width: 60%;
    left: 0;
  }

  .project-details {
    max-width: 35%;
  }

  .title {
    font-size: 36px;
  }

  .description {
    width: 50%;
  }

  .project-title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .body-container {
    padding: 1px 10px 10px 10px;
  }

  .content {
    padding: 0% 1% 1% 1%;
  }

  .project-image {
    width: 80%;
    left: 0;
    top: 150px;
  }

  .project-details {
    max-width: 100%;
    margin-top: 60vh;
  }

  .title {
    font-size: 28px;
  }

  .description {
    width: 80%;
  }

  .project-title {
    font-size: 24px;
  }

  .section {
    flex-direction: column;
  }

  .section > * {
    width: 100%;
  }

  .project-image {
    position: relative;
    top: 0;
    height: 40vh;
    width: 100%;
  }

  .project-details {
    margin-top: 20px;
  }
}

.old-image {
  z-index: 1;
}

.new-image {
  z-index: 2;
}